@model GreenfieldLocalHubWebApp.Models.producers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>producers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producerName" class="control-label"></label>
                <input asp-for="producerName" class="form-control" />
                <span asp-validation-for="producerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producerEmail" class="control-label"></label>
                <input asp-for="producerEmail" class="form-control" />
                <span asp-validation-for="producerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producerPhone" class="control-label"></label>
                <input asp-for="producerPhone" class="form-control" />
                <span asp-validation-for="producerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producerDescription" class="control-label"></label>
                <input asp-for="producerDescription" class="form-control" />
                <span asp-validation-for="producerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producerLocation" class="control-label"></label>
                <input asp-for="producerLocation" class="form-control" />
                <span asp-validation-for="producerLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producerImage" class="control-label"></label>
                <input asp-for="producerImage" class="form-control" />
                <span asp-validation-for="producerImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
